.wrap {
    padding: 24px;
    font-size: 20px;
    border-radius: 16px;
    background-color: #1A1A1A;
    border: 1px solid transparent;
}

.label {
    font-weight: 600;
    margin-right: 4px;
    color: #fff;
}

.name {
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    color: #999;
}

.time {
    text-align: center;
    margin-left: auto;
}

.wrap--pending {
    border-color: #2F2F2F;
    background: transparent;
}


.wrap--in_progress {
    background: transparent;
    border-color: #fff;
}